.jumbotron {
    text-align: center;
    background-color: transparent;
}

.container {
    width: 95%;
}

.faq__question {
    font-weight: bold;
    padding-top: 10px;
}

.buy {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.changeLanguage{
    width: 150px;
    height: 150px;
    background-image: url(/img/20170831_233230.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-left: -160px;
    margin-top: -109px;
    display: none;
}

@media (min-width: 992px) {
    .container {
        width: 780px;
    }
    .changeLanguage{
        /*display: block;*/
    }
}